@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    color: black;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}
.principal {
    position: relative;
    overflow: hidden; 
}
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url('../media/backgrounds/backmainblur.png') center center;
    filter: blur(5px);
    z-index: -1; 
}

.navegacion {
    background-color: rgba(255, 255, 255, 0.290);
    border-radius: 10px;
    display: flex;
    align-items: center;
    filter: none;
    justify-content: space-between;
    padding: 0px 10px;
    font-family: "Krona One", sans-serif;
    font-size: 13px;
}

.navegacion__logo {
    width: 80px;
    padding: 0px 10px;
    justify-content: start;
    filter: drop-shadow(20px 20px 10px rgb(0, 0, 0));
}

.navegacion__lista {
    display: flex;
    padding: 15px 5px;
    justify-content: center;
}

.navegacion__lista li a {
    margin: 10px;
    text-align: center;
    color: black;
}

.navegacion__lista li a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
    color: gray;
}

.navegacion__iniciar {
    background-color: #15c0f9;
    border-radius: 5px;
    padding: 10px;   
}

.navegacion__iniciar:hover {
    transition: 1.2s;
    background-color: gray;
}

.social_media {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    gap: 5px;
}

.social_media img {
    
    border-radius: 5px;
    margin: 8px;
    width: 20px;
    padding: 10px 10px;
}

.faceboock:hover,
.instagram:hover,
.twitter:hover {
    transition: 1.1s;
    transform: scale(1.3);
    background-color: rgba(128, 128, 128, 0.548);
}

.faceboock {
    box-shadow: 1px 1px 2px rgb(0, 103, 187);
    border: 1px solid;
    border-color: blue;
}

.instagram {
    box-shadow: 1px 1px 2px rgb(255, 0, 212);
    border: 1px solid;
    border-color: rgb(180, 0, 204);
}

.twitter {
    box-shadow: 1px 1px 2px rgb(55, 0, 255);
    border: 1px solid;
    border-color: rgb(24, 124, 255);
}


main {
    font-family: "Krona One", sans-serif;
    position: relative;
    z-index: 1;
    padding: 40px;
    color: #fff;
}

.main__info {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.main__info__simuh1 {
    color: #06334b;
    font-size: 65px;
}

.main__info__desch2{
    color: #0092ce;
    font-size: 30px;
    width: 50%;
}

.main__info__p {
    color: rgb(46, 46, 46);
    font-size: 16px;
    width: 50%;
}

.main__info__comenzar {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    background-color: #06334b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: auto; 
    margin: 20px auto 0; 
}


.main__info__comenzar:hover {
    background-color: gray;
}

.main__segundo {
    background-color: #06334b;
}

