@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    color: black;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-x: hidden;
}

header {
    background-color: rgba(255, 255, 255, 0.13);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10; 
    transition: background-color 0.3s ease; 
}

.header-hidden {
    background-color: rgba(255, 255, 255, 0.493); 
}

.principal {
    position: relative;
    overflow: hidden; 
    position: fixed;
}

.principal__li__aprender {
    background-color: #0092ce;
    border-radius: 10px;
    padding: 10px;
}

.principal__li__aprender:hover {
    transition: 1.1s;
    background-color: #00aeff;
    border-radius: 2px;
    padding: 10px;
}

.main__principal::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    filter: blur(5px);
    z-index: -1; 
    width: 100%;
    height: 100vh;
    background: url('../media/backgrounds/backmainblur.png') center center;
    background-size: cover;
    background-attachment: fixed;

}

.navegacion {
    border-radius: 10px;
    display: flex;
    align-items: center;
    filter: none;
    justify-content: space-between;
    padding: 0px 10px;
    font-family: "Krona One", sans-serif;
    font-size: 13px;
    z-index: 1;
}

.navegacion__logo {
    width: 80px;
    padding: 0px 10px;
    justify-content: start;
    filter: drop-shadow(20px 20px 10px rgb(0, 0, 0));
}

.navegacion__lista {
    display: flex;
    padding: 15px 5px;
    justify-content: center;
}

.navegacion__lista li a {
    margin: 10px;
    text-align: center;
    color: black;
}

.navegacion__lista li a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
    color: rgb(0, 71, 224);
}

.navegacion__iniciar {
    border: 1px solid;
    border-color: blue;
    border-radius: 5px;
    padding: 10px;   
}

.navegacion__iniciar:hover {
    transition: 1.1s;
    background-color: gray;
    border: none;
    border-radius: 0;
}

.social_media {
    display: flex;
    justify-content: center;
    padding: 1px 0px;
    gap: 5px;
}

.social_media  {
    margin-top: 70px;
}

.social_media img {
    
    border-radius: 5px;
    margin: 8px;
    width: 20px;
    padding: 10px;
}

.faceboock:hover,
.instagram:hover,
.twitter:hover {
    transition: 1.1s;
    transform: scale(1.3);
    background-color: rgba(128, 128, 128, 0.548);
}

.faceboock {
    box-shadow: 1px 1px 2px rgb(0, 103, 187);
    border: 1px solid;
    border-color: blue;
}

.instagram {
    box-shadow: 1px 1px 2px rgb(255, 0, 212);
    border: 1px solid;
    border-color: rgb(180, 0, 204);
}

.twitter {
    box-shadow: 1px 1px 2px rgb(55, 0, 255);
    border: 1px solid;
    border-color: rgb(24, 124, 255);
}


main {
    font-family: "Krona One", sans-serif;
    position: relative;
    color: #fff;
}

.main__info {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 30px;
}

.main__info__simuh1 {
    color: #06334b;
    font-size: 65px;
}

.main__info__desch2{
    color: #0092ce;
    font-size: 30px;
    width: 50%;
}

.main__info__p {
    color: rgb(46, 46, 46);
    font-size: 16px;
    width: 50%;
}

.main__info__comenzar {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    background-color: #06334b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: auto; 
    margin: 20px auto 0; 
}


.main__info__comenzar:hover {
    background-color: gray;
}

.main__info__unete {
    padding: 15px;
}

.main__segundo {
    width: 100%;
    height: 100vh; 
    color: white; 
    text-align: center; 
    z-index: 0; 
    background-color: rgb(240, 255, 254);
}

.main__segundo_arrow {
    width: 50px;
    padding: 20px;
}

.main__segundo__h3 {
    padding: 50px 10px;
}

.grid {
    background: hsl(36, 100%, 99%);
    width: 90%;
    max-width: 800;
    height: 500px;
    display: grid;
    gap: 1.2vw;
    padding: 1vw;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "hero hero hero hero aside2 aside2"
      "hero hero hero hero aside2 aside2"
      "hero hero hero hero aside2 aside2"
      "hero hero hero hero aside2 aside2"
      "aside3 aside3 aside4 aside4 aside5 aside5 ";
  }

  .item {
    padding: 10px;
    border-radius: 25px;
    border: 1px solid;
  }
  
  .grid .item:nth-child(1) {
    grid-area: hero;
    background-color: rgba(128, 128, 128, 0.253);
  }

  .item__simulogo {
    width: 50px;
  }

  .main__segundo__slogan {
    padding: 10px 10px;
    font-size: 16px;
  }

  .grid .item:nth-child(2) {
    grid-area: aside2;
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 21%, rgba(181,5,183,1) 47%);
  }

  .grid .item:nth-child(3) {
    grid-area: aside3;
  }
  .grid .item:nth-child(4) {
    grid-area: aside4;
  }
  
  .grid .item:nth-child(5) {
    grid-area: aside5;
  }

