<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../media/logos/simulogo.png">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Simu!</title>
</head>
<body>
 <header>
    <article class="principal">
        <section class="navegacion">
            <img  class="navegacion__logo" src="../media/logos/simulogo.png" alt="logo simu web">
            <ul class="navegacion__lista">
                <li><a class="hola" href="#">APRENDER</a></li>
                <li><a href="#">NOSOTROS</a></li>
                <li><a href="#">NOTICIAS</a></li>
                <li><a href="#">COMUNIDAD</a></li>
            </ul>
                <a class="navegacion__iniciar" href="#">INICIAR SESION</a>
        </section>
        <div class="social_media">
            <img class="faceboock" src="../media/icons/logo_faceboock.png" alt="logo de faceboock">
            <img class="instagram" src="../media/icons/logo_instagram.png" alt="logo de instagram">
         <img class="twitter" src="../media/icons/logo_twitter.png" alt="logo de twitter">
        </div>
 </header>
    <main><h1>hola</h1></main>
</article>
    <footer></footer>
</body>
</html>