<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../media/logos/simulogo.png">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Simu!</title>
</head>
<body>
    <header>
        <nav class="navegacion">
            <img class="navegacion__logo" src="../media/logos/simulogo.png" alt="logo simu web">
            <ul class="navegacion__lista">
                <li><a class="principal__li__aprender" href="#">APRENDER</a></li>
                <li><a href="#" onclick="scrollToSection('section2')">NOSOTROS</a></li>
                <li><a href="#">NOTICIAS</a></li>
                <li><a href="#">COMUNIDAD</a></li>
            </ul>
            <a class="navegacion__iniciar" href="../views/login.html"><strong>INICIAR SESION</strong></a>
        </nav>
    </header>

    <main>
        <br>
        <section class="main__principal">
            <div class="social_media">
                <a href="#"><img class="faceboock" src="../media/icons/logo_faceboock.png" alt="logo de faceboock"></a>
                <a href="#"><img class="instagram" src="../media/icons/logo_instagram.png" alt="logo de instagram"></a>
                <a href="#"><img class="twitter" src="../media/icons/logo_twitter.png" alt="logo de twitter"></a>
            </div>
            <div class="main__info">
                <h1 class="main__info__simuh1">SOMOS SIMU!</h1>
                <h2 class="main__info__desch2">¡Refuerza tus conocimientos para la prueba Saber 11°!</h2>
                <br>
                <p class="main__info__p">Descubre la manera más efectiva de estudiar y practicar para el examen Saber 11° completamente <strong>GRATIS</strong></p>
                <br>
                <a class="main__info__comenzar" href="#">EMPEZAR AHORA</a>

                <br>
                <img class="main__segundo_arrow" src="../media/icons/arrow-narrow-down.png" alt="">
                <br>
            </div>
        </section>

        <section class="main__segundo">

            <h3 class="main__segundo__h3">¿QUÉ SOMOS?</h3>
        <article class="bento" id="section2">
                <div class="bento__container" variant-1>
                  <div class="bento__item" style="--rows: span 2; --columns: 1 / -1;"></div>
                  <div class="bento__item" style="--rows: span 2;"></div>
                  <div class="bento__item" style="--rows: span 2; --columns: span 2;"></div>
                  <div class="bento__item" style="--columns: 1 / -1;"></div>
                  <div class="bento__item" style="--columns: span 2;"></div>
                  <div class="bento__item"></div>
                </div>
                <div class="bento__container" variant-2>
                  <div class="bento__item" style="--columns: span 2;"></div>
                  <div class="bento__item" style="--columns: span 2;"></div>
                  <div class="bento__item" style="--rows: span 4; --columns: 1 / -1"></div>
                  <div class="bento__item"></div>
                  <div class="bento__item" style="--columns: span 2;"></div>
                  <div class="bento__item"></div>
                </div>
                <div class="bento__container" variant-3>
                  <div class="bento__item" style="--rows: span 2; --columns: 1 / -1;"></div>
                  <div class="bento__item" style="--rows: span 2;"></div>
                  <div class="bento__item" style="--rows: span 2;"></div>
                  <div class="bento__item" style="--columns: 1 / -1;"></div>
                  <div class="bento__item" style="--columns: 1 / -1;"></div>
                </div>
        </article>
        </section>
        <script src="../js/script.js"></script>
    </main>
</body>
</html>
