<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../media/logos/simulogo.png">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Simu!</title>
</head>
<body>
 <header>
    <article class="principal">
        <nav class="navegacion">
            <img  class="navegacion__logo" src="../media/logos/simulogo.png" alt="logo simu web">
            <ul class="navegacion__lista">
                <li><a class="hola" href="#">APRENDER</a></li>
                <li><a href="#">NOSOTROS</a></li>
                <li><a href="#">NOTICIAS</a></li>
                <li><a href="#">COMUNIDAD</a></li>
            </ul>
                <a class="navegacion__iniciar" href="#">INICIAR SESION</a>
        </nav>
    </article>
 </header>
    <main>
        <div class="social_media">
            <a href="#"><img class="faceboock" src="../media/icons/logo_faceboock.png" alt="logo de faceboock"></a>
            <a href="#"><img class="instagram" src="../media/icons/logo_instagram.png" alt="logo de instagram"></a>
            <a href="#"><img class="twitter" src="../media/icons/logo_twitter.png" alt="logo de twitter"></a>
        </div>
        <div class="main__info">
            <h1 class="main__info__simuh1">SOMOS SIMU!</h1>
            <h2 class="main__info__desch2">¡Domina la prueba Saber 11° con Confianza y Éxito!</h2>
            <p class="main__info__p">Descubre la manera más efectiva de estudiar y practicar para el examen Saber 11° completamente <strong>GRATIS</strong></p>
            <a class="main__info__comenzar" href="#">COMENZAR</a>
        </div>

        <section class="main__segundo">
            <h1>Hello World!</h1>
        </section>
    </main>
    <footer></footer>
</body>
</html>